@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;800&family=Roboto+Mono:wght@700&display=swap');

:root{
    --bg-color: #060608;
    --text-color: #EEF;
    --ease-blue: hsl(200deg, 80%, 40%);
    --ease-magenta: hsl(320deg, 40%, 50%);
    --dim-white: hsl(0deg, 0%, 60%);
    --overlap: hsla(215, 30%, 8%, 0.8);
    --danger: hsl(0, 50%, 40%);
    --text-down: hsl(0deg, 0%, 30%);
}

* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

*, input, textarea, button, select{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    border: none;
}

button {
    height: 4rem;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    overflow: hidden;
}