.container{
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding-bottom: 4rem;
}

.title{
    margin-top: 1.8rem;
    font-size: 1.5rem;
    color: var(--ease-magenta);
    letter-spacing: .435rem;
    text-transform: uppercase;
    text-align: center;
}
.title span {
    display: block;
    color: var(--ease-blue);
    letter-spacing: .750rem;
}
.dev_logToggle{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 50;
    cursor: pointer;
}